<mat-card class="table-parent-container">
    <div fxLayout="row" fxLayoutAlign="space-between center ">
        <mat-form-field appearance="standard" style="width: 44%; padding: 0 1.2em;">
            <mat-label>Filter</mat-label>
            <input type="text" matInput [(ngModel)]="filter" (keyup)="applyFilter($event)">
            <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''" style="margin: 0;">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
        <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
        </mat-paginator>
    </div>
    <div class="loading" *ngIf="!display">
        <mat-spinner diameter=45 [mode]="spinnerMode" [value]="spinnerValue"></mat-spinner>
    </div>
    <div class="table-container">
        <table mat-table [dataSource]="clientsDataSource" matSort (matSortChange)="announceSortChange($event)">

            <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

            <!-- SSID Column -->
            <ng-container matColumnDef="ssid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 10%;"> SSID </th>
                <td mat-cell *matCellDef="let element"> {{element.wlan_id | wlanname:wlans}} </td>
            </ng-container>

            <!-- MAC Column -->
            <ng-container matColumnDef="mac">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 10%;"> MAC </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="" (click)="openClientDetails(element)" style="color: #0095a3;">
                        {{element.mac | mac}}
                    </a>
                </td>
            </ng-container>
            <!-- HOSTNAME Column -->
            <ng-container matColumnDef="hostname">
                <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 15%;"> HOSTNAME
                </th>
                <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
            </ng-container>
            <!-- USERNAME Column -->
            <ng-container matColumnDef="username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;">
                    USERNAME </th>
                <td mat-cell *matCellDef="let element"> {{element.username}} </td>
            </ng-container>
            <!-- IP Column -->
            <ng-container matColumnDef="ip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;">
                    IP </th>
                <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
            </ng-container>
            <!-- RX BYTES Column -->
            <ng-container matColumnDef="rx_bytes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%; text-align: center;">
                    <div fxLayout="column">
                        <div>RX BYTES</div>
                        <div>since Assoc. Time</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.rx_bytes | bytessize}} </td>
            </ng-container>
            <!-- TX BYTES Column -->
            <ng-container matColumnDef="tx_bytes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%; text-align: center;">
                    <div fxLayout="column">
                        <div>TX BYTES</div>
                        <div>since Assoc. Time</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.tx_bytes | bytessize}} </td>
            </ng-container>
            <!-- TOTAL BYTES Column -->
            <ng-container matColumnDef="total_bytes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%; text-align: center;">
                    <div fxLayout="column">
                        <div>TOTAL BYTES</div>
                        <div>since Assoc. Time</div>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.total_bytes | bytessize}} </td>
            </ng-container>
            <!-- ASSOC TIME Column -->
            <ng-container matColumnDef="assoc_time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%; text-align: center;"> ASSOC. TIME </th>
                <td mat-cell *matCellDef="let element"> {{element.assoc_time * 1000 | date:'short' }} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        </table>
    </div>
</mat-card>