<div fxLayout="row" style="height: 100%; width: 90em; ">
    <div fxLayout="column" style="width: 100%;">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="center center">
                <div fxLayout="column">
                    <mat-form-field style="margin: 0 1em;">
                        <input matInput [ngxMatDatetimePicker]="start_picker" [min]="min_start_date" [max]="max_start_date" placeholder="Start date" [formControl]="startDateControl">
                        <mat-datepicker-toggle matSuffix [for]="start_picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #start_picker color="accent" stepMinute="10">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                    <mat-form-field style="margin: 0 1em;">
                        <input matInput [ngxMatDatetimePicker]="end_picker" [min]="min_end_date" [max]="max_end_date" placeholder="End date" [formControl]="endDateControl">
                        <mat-datepicker-toggle matSuffix [for]="end_picker"></mat-datepicker-toggle>
                        <ngx-mat-datetime-picker #end_picker color="accent" stepMinute="10">
                        </ngx-mat-datetime-picker>
                    </mat-form-field>
                </div>
                <button mat-raised-button color="accent" (click)="refresh()">Refresh</button>
            </div>

            <div fxLayout="row">
                <mat-card class="info">
                    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">Application</mat-card-title>
                    <mat-card-content>
                        {{data.app.app}}
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card class="info">
                    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">Total Bytes</mat-card-title>
                    <mat-card-content>
                        {{total_bytes | bytessize}}
                        <div class="loading" *ngIf="loading">
                            <mat-spinner diameter=45></mat-spinner>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxLayout="row">
                <mat-card class="info">
                    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
                        <div># of Clients</div>
                    </mat-card-title>
                    <mat-card-content>
                        {{clients.length}}
                        <div class="loading" *ngIf="loading">
                            <mat-spinner diameter=45></mat-spinner>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <mat-card class="table-parent-container">
            <div fxLayout="row" fxLayoutAlign="space-between center ">
                <mat-form-field appearance="standard" style="width: 44%; padding: 0 1.2em;">
                    <mat-label>Filter</mat-label>
                    <input type="text" matInput [(ngModel)]="filter" (keyup)="applyFilter($event)">
                    <button *ngIf="filter" matSuffix mat-icon-button aria-label="Clear" (click)="filter=''" style="margin: 0;">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-paginator #paginator [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" aria-label="Select page">
                </mat-paginator>
            </div>
            <div class="table-container">
                <div class="loading" *ngIf="loading">
                    <mat-spinner diameter=45></mat-spinner>
                </div>
                <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

                    <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

                    <!-- App Details -->
                    <!-- SSID Column -->
                    <ng-container matColumnDef="ssid">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 15%;"> SSID
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.wlan_id | wlanname:wlans}} </td>
                    </ng-container>
                    <!-- MAC Column -->
                    <ng-container matColumnDef="mac">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 10%;"> MAC
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <a [routerLink]="" (click)="openClientDetails(element)" style="color: #0095a3;">
                                {{element.mac}}
                            </a>
                        </td>
                    </ng-container>
                    <!-- HOSTNAME Column -->
                    <ng-container matColumnDef="hostname">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header mat-sort-header style="width: 20%;">
                            HOSTNAME </th>
                        <td mat-cell *matCellDef="let element"> {{element.hostname}} </td>
                    </ng-container>
                    <!-- USERNAME Column -->
                    <ng-container matColumnDef="username">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%;"> USERNAME </th>
                        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>
                    <!-- IP Column -->
                    <ng-container matColumnDef="ip">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%;"> IP </th>
                        <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
                    </ng-container>
                    <!-- TOTAL BYTES Column -->
                    <ng-container matColumnDef="total_bytes">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%; text-align: center;">
                            TOTAL BYTES </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_bytes | bytessize}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                </table>
            </div>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutAlign="end">
    <button mat-raised-button color="accent" (click)="close()" style="margin: 0 1em;">Close</button>
</div>